#email {
  padding:50px;
  margin-top:50px;
  width:500px;
  border:2px;
  box-sizing: border-box;
}

#confidential {
  display:inline-block;
   padding: 10px;
  margin-left: 10px;
  border: 2px solid red;
  transform: rotate(-10deg);
}

#top-secret {
  display:inline-block;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid red;
  transform: rotate(10deg);
}

.blurred {
  filter: blur(3px);
}