body {
  background-color:#f4f4f4;
}

.color-box {
  width:100px;
  height:100px;
}

.color1 {
  background-color:#546254;
}
.color2 {
 background-color:rgb(123,25,56);
}

.color3 {
  background-color:midnightblue;
}

.color4 {
  background-color:hsl(124,90%,60%)
}

.color5 {
  background-color:purple;
}